body {
  background: #ddd6f3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container-1 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.flex-box-container-1 {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-box-container-1 div {
  padding: 10px;
  display: flex;
  align-items: center;
}

.container-2 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-box-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-box-container-2 img {
  padding: 10px;
  max-width: 25%;
  max-height: 70%;
}